In [6]:
print(1+1)

2

In [3]:
1/2

0.5

1/3

In [4]:
1/3

0.3333333333333333

In [8]:
15 /5

3.0

In [9]:
4/2

2.0

In [10]:
6 ** 2 #power operator

36

In [11]:
19 // 2    # 19 divied by 2 and round down the answer

9

In [12]:
age  = 25
print(age)

25

In [13]:
age, name, gender = 25, 'Earnest', 'male'

In [16]:
print(age, name, gender)

25 Earnest male

In [17]:
age += 5
age

30

In [18]:
type(age)

int

In [20]:
age /= 4
age

1.875

In [22]:
print(type(age))

<class 'float'>

In [40]:
#Cast int() and float()

age /= 4
print(int(age))

#important
example = 25.0
testing = example/ 5
print(float(testing))

#important
example_2 = 2.33333
print(int(example_2))
print(float(example_2))

#important
example_3 = 20
print(example_3 / float(example_2))

0
5.0
2
2.33333
8.571440816344023

In [41]:
sample_string = "testing"
len(sample_string)

7

In [47]:
sample_boolean = True
sample_boolean = 1>2 and 2>1  # 1 > 2 or 2 > 1 
sample_boolean

False